<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>952422438105-ovedv3lievojp49444khtcsgmakl5cgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952422438105-ovedv3lievojp49444khtcsgmakl5cgf</string>
	<key>API_KEY</key>
	<string>AIzaSyDAkq2K7KWUon5ZvCrUY5gjBZUk0KjLgJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>952422438105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.frankehlers.Swifty-Recipes</string>
	<key>PROJECT_ID</key>
	<string>swifty-recipes-bf8cd</string>
	<key>STORAGE_BUCKET</key>
	<string>swifty-recipes-bf8cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952422438105:ios:fdc313087f4d4258</string>
	<key>DATABASE_URL</key>
	<string>https://swifty-recipes-bf8cd.firebaseio.com</string>
</dict>
</plist>